/**css style for vtu web app created by Odueso Emmanuel Jesutofunmi on 03-07-2023*/
*{
    margin: 0;
    padding:0;
}

body{
    background:rgb(205, 209, 228);
}

button{
    cursor:pointer;
}

ul, li{
    list-style: none;
}

.navTag{
    background:#fff;
    width:calc(20% - 40px);
    height:100vh;
    padding:0px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    position:fixed;
    left:0;
    /* float:left; */
}

.ulList{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.mobileTag{
    margin:30px 0px;
}


.mainCon{
    width:80%;
    min-height:100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background:yellow; */
    float:right;
}
header{
    width:calc(100% - 20px);
    min-height:100px;
    z-index:1001;
    position:fixed;
    /* background:greenyellow; */
}

.headerClass{
    width:100%;
    height:50px;
    background:#008080;
    padding-right:20px;
    line-height: 50px;
}

.headerClass i{
    color:#fff;
    float:right;
    /* background:red; */
}

.mainTitle{
    width:calc(100% - 40px);
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px 20px;
    /* background:blue; */
    align-items: center;
}

.mainConSection{
    /* background:green; */
}

.innerSection{
    width:97%;
    margin:auto;
    /* background:purple; */
    min-height:300px;
    position:relative;
}

.itemDiv{
    width:100%;
    height:120px;
    background:#fff;
    border-radius:10px;
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: space-between;
    margin-bottom:20px;
}
.itemDivIn{
    width:33.3%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
    padding:0px 10px;
}
.itemDivIn i{
    font-size:50px;
    color:#008080;
}
.itemH3{
    color:#008080;
    font-size:20px;
}
.itemBoldp{
    font-weight: bolder;
}
.money{
    border-right: 1px solid #eee;
}
.money i, .money .itemH3{
    color:green;
}
.itemDiv .money:last-child {
    border:none;
 }
 .userDetail{
    width:100%;
    height:120px;
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom:20px;
 }
 .userDetailIn{
    width:33.33%;
    height:120px;
    background:#fff;
    border-radius:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px 10px;
    align-items: center;
}
.userDetBtn{
    border:none;
    font-size:14px;
    color:#fff;
    background:#008080;
    padding:5px 10px;
}
.userDetailIn p{
    font-weight: bolder;
    font-size:16px;
}
.userDetailIn i{
    font-size:30px;
}
.userDetailInText{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.sndndusrdet{
    background:deeppink;
}

.sectionTableDiv{
    width:97%;
    margin:auto;
    /* background:red; */
    min-height:100px;
    overflow:auto;
    margin-bottom:20px;
}
.sectionTableDiv .tableP{
    width:100%;
    height:50px;
    border-radius:5px 5px 0px 0px;
    background:#008080;
    color:#fff;
    line-height: 50px;
    padding:0px 10px;
    font-size:16px;
    overflow:auto;
}

.tableDiv{
    overflow:auto;
    width:100%;
}
.vtu_table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  .vtu_th, .vtu_td {
    text-align: left;
    padding: 8px;
  }
  
  .vtu_tr:nth-child(even){background-color: #f2f2f2}
  